<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Members Home</title>
</head>
<body>
    <h1>{{greeting}}</h1>
    <ul>
        {% for member in members_list %}
        <li>
          <a href="{% url 'member_detail' member.id %}">{{member.firstname}} {{member.lastname}}</a>

        </li>
        {% endfor %}
    </ul>
    {% comment %} {% include 'member_list.html' %} {% endcomment %}

    <a href="{% url 'member_list' %}">View Members</a>
</body>
</html>