# Python bytecode files
*.pyc
*.pyo
*.pyd
__pycache__/

# Virtual environment directory
venv/
env/
*.env

# Django-specific files
*.sqlite3
db.sqlite3
media/
*.pot
*.mo

# IDE-specific files
.vscode/
.idea/

# System files
.DS_Store
Thumbs.db

# Misc
*.log
*.egg-info/
